@media screen {
    input:not([type]), input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="number"],
    input[type="tel"],
    input[type="search"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    select {
        padding: 5px;
        border: 1px solid #999;
        border-radius: 5px;
        background-color: #fcfcfc;
    }
    input:disabled,
    button:disabled,
    select:disabled {
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        color: #ababab;
    }
    body, h1, h2, h3, h4, h5, h6, dl, dd, ul, ol, p, blockquote, form, fieldset, figure {
        margin: 0;
    }
    ul, ol, menu, th, td, legend, fieldset {
        padding: 0;
    }
    html {
        font-size: 100%;
    }
    body {
        font: 1em/1.5 tahoma, arial, "\5b8b\4f53", sans-serif;
    }
    ul, ol, menu {
        list-style-type: none;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
    h1 {
        font-size: 1.666667em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.333333em;
    }
    h4 {
        font-size: 1.166667em;
    }
    h5,
    h6 {
        font-size: 1.083333em;
    }
    .clearfix {
        zoom: 1;
    }
    .clearfix:before, .clearfix:after {
        content: "";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    a {
        text-decoration: none;
    }
    a:hover, a:active {
        text-decoration: underline;
    }
    .relative {
        position: relative;
    }
    .absolute {
        position: absolute;
    }
    .fixed {
        position: fixed;
        _position: absolute;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left;
    }
    .text-justify {
        text-align: justify;
    }
    .text-ellipsis {
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
    .invisible {
        visibility: hidden;
    }
    input,
    button,
    select {
        color: #333;
    }
    ::-webkit-input-placeholder {
        color: #999;
    }
    ::-moz-placeholder {
        color: #999;
    }
    :-ms-input-placeholder {
        color: #999;
    }
    label:active {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3) and (max-width: 767px) {
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

@media screen {
    body {
        color: green;
    }
    #page {
        max-width: 1240px;
        margin: 0 auto;
    }
    .page-header {
        padding: 10px 0;
    }
    .page-nav .btn-unfold {
        display: none;
    }
    .page-nav li {
        float: left;
        width: 25%;
    }
    .page-nav li a {
        display: block;
        margin: 0 10px;
        padding: 8px 0;
        font-size: 1.4em;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
        border: 1px solid #246b24;
        border-radius: 8px;
        background-color: #267326;
        background-image: -webkit-linear-gradient(-270deg, #267326, #339933);
        background-image: linear-gradient(0deg,#267326, #339933);
    }
    .page-nav li a:hover {
        text-decoration: none;
        color: #fff;
    }
    .page-container {
        margin: 20px 0;
    }
    .page-main {
        float: right;
        width: 70%;
        background-color: #f5f5f5;
    }
    .form {
        padding: 10px;
    }
    .form fieldset {
        border: none;
    }
    .form legend {
        padding: 3px;
        font-size: 1.4em;
        font-weight: bold;
        color: #fff;
        margin-bottom: 10px;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        background-color: #308cfb;
        border: 1px solid #045ac1;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .form .L {
        margin-bottom: 10px;
    }
    .form label {
        display: inline-block;
        width: 5em;
        text-align: right;
    }
    .form .L input {
        width: 400px;
    }
    .form .btn-submit {
        border: 1px solid #08222d;
        border-color: #08222d #020e14 black;
        border-radius: 16px;
        box-shadow: inset 0 1px 0 0 #0174a5;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: normal;
        line-height: 1;
        background-color: #005982;
        background-image: -webkit-linear-gradient(#005982, #002c4f);
        background-image: linear-gradient(#005982, #002c4f);
        padding: 7px 18px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 -1px 1px #051f30;
        background-clip: padding-box;
    }
    .form .btn-submit:hover:not(:disabled) {
        border: 1px solid #020f15;
        border-color: #020f15 black black;
        box-shadow: inset 0 1px 0 0 #016391;
        cursor: pointer;
        background-color: #00496b;
        background-image: -webkit-linear-gradient(#00496b, #011c32);
        background-image: linear-gradient(#00496b, #011c32);
        text-shadow: 0 -1px 1px #000b11;
        background-clip: padding-box;
    }
    .form .btn-submit:active:not(:disabled), .form .btn-submit:focus:not(:disabled) {
        background: #05304a;
        border: 1px solid black;
        border-bottom: 1px solid black;
        box-shadow: inset 0 0 6px 3px #000b14;
        text-shadow: 0 -1px 1px #010c13;
    }
    .page-sidebar {
        float: left;
        width: 28%;
    }
    .page-sidebar h2 {
        text-shadow: 2px 2px 3px rgba(224, 129, 82, 0.3);
    }
    .copyright {
        padding: 10px 0;
        text-align: center;
        color: #fff;
        background-color: #00a0e9;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    body {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 767px) {
    #jsMedia {
        display: block;
        width: 767px;
    }
    .page-main, .page-sidebar {
        float: none;
        width: auto;
    }
    .form label {
        display: block;
        text-align: left;
        padding: 0 0 0 6px;
    }
    .form .L input {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 479px) {
    #jsMedia {
        display: block;
        width: 479px;
    }
    .page-header {
        padding: 0;
    }
    .page-nav .btn-unfold {
        display: block;
        width: 100%;
        height: 40px;
        text-indent: 10px;
        line-height: 40px;
        font-size: 1.4em;
    }
    .page-nav ul {
        display: none;
    }
    .page-nav li {
        float: none;
        width: 100%;
    }
    .page-container {
        margin-top: 0;
    }
}
