@charset "utf-8";

@media screen {
    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotateY(0deg) rotateX(30deg);
        }
        to {
            -webkit-transform: rotateY(360deg) rotateX(30deg);
        }
    }
    @-moz-keyframes rotate {
        from {
            -moz-transform: rotateY(0deg) rotateX(30deg);
        }
        to {
            -moz-transform: rotateY(360deg) rotateX(30deg);
        }
    }
    @-ms-keyframes rotate {
        from {
            transform: rotateY(0deg) rotateX(30deg);
        }
        to {
            transform: rotateY(360deg) rotateX(30deg);
        }
    }
    @-o-keyframes rotate {
        from {
            -o-transform: rotateY(0deg) rotateX(30deg);
        }
        to {
            -o-transform: rotateY(360deg) rotateX(30deg);
        }
    }
    @keyframes rotate {
        from {
            transform: rotateY(0deg) rotateX(30deg);
        }
        to {
            transform: rotateY(360deg) rotateX(30deg);
        }
    }

    .cube{width:200px;margin:5em auto;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 9999em;
        -moz-perspective: 9999em;
        -ms-perspective: 9999em;
        perspective: 9999em;
        -webkit-perspective-origin:0 0;
        -moz-perspective-origin:0 0;
        -o-perspective-origin:0 0;
        perspective-origin:0 0;
        -webkit-transform: rotateX(-10deg) rotateY(30deg);
        -moz-transform: rotateX(-10deg) rotateY(30deg);
        -ms-transform: rotateX(-10deg) rotateY(30deg);
        -o-transform: rotateX(-10deg) rotateY(30deg);
        transform: rotateX(-10deg) rotateY(30deg);
        -webkit-animation: rotate 4s linear infinite;
        -o-animation: rotate 4s linear infinite;
        animation: rotate 4s linear infinite;
    }
    .cube > div{position:absolute;width:200px;height:200px;background-repeat:no-repeat;background-size:cover;opacity:.8;
        -webkit-backface-visibility:hidden;
        -moz-backface-visibility:hidden;
        -o-backface-visibility:hidden;
        backface-visibility:hidden;
    }
    .front{
        background-image:url(../../../../rescources/images/01.jpg);
        -webkit-transform: translateZ(100px);
        -moz-transform: translateZ(100px);
        -ms-transform: translateZ(100px);
        -o-transform: translateZ(100px);
        transform: translateZ(100px);
    }
    .top{
        background-image:url(../../../../rescources/images/02.jpg);
        -webkit-transform: rotateX(90deg) translateZ(100px);
        -moz-transform: rotateX(90deg) translateZ(100px);
        -ms-transform: rotateX(90deg) translateZ(100px);
        -o-transform: rotateX(90deg) translateZ(100px);
        transform: rotateX(90deg) translateZ(100px);
    }
    .left{
        background-image:url(../../../../rescources/images/03.jpg);
        -webkit-transform: rotateX(-90deg) translateZ(100px);
        -moz-transform: rotateX(-90deg) translateZ(100px);
        -ms-transform: rotateX(-90deg) translateZ(100px);
        -o-transform: rotateX(-90deg) translateZ(100px);
        transform: rotateX(-90deg) translateZ(100px);
    }
    .right{
        background-image:url(../../../../rescources/images/04.jpg);
        -webkit-transform: rotateY(90deg) translateZ(100px);
        -moz-transform: rotateY(90deg) translateZ(100px);
        -ms-transform: rotateY(90deg) translateZ(100px);
        -o-transform: rotateY(90deg) translateZ(100px);
        transform: rotateY(90deg) translateZ(100px);
    }
    .bottom{
        background-image:url(../../../../rescources/images/05.jpg);
        -webkit-transform: rotateY(-90deg) translateZ(100px);
        -moz-transform: rotateY(-90deg) translateZ(100px);
        -ms-transform: rotateY(-90deg) translateZ(100px);
        -o-transform: rotateY(-90deg) translateZ(100px);
        transform: rotateY(-90deg) translateZ(100px);
    }
    .back{
        background-image:url(../../../../rescources/images/06.jpg);
        -webkit-transform: rotateY(-180deg) translateZ(100px);
        -moz-transform: rotateY(-180deg) translateZ(100px);
        -ms-transform: rotateY(-180deg) translateZ(100px);
        -o-transform: rotateY(-180deg) translateZ(100px);
        transform: rotateY(-180deg) translateZ(100px);
    }
}