@media screen {
    h1{font-size:1.666667em;}  /*20px*/
    h2{font-size:1.5em;}       /*18px*/
    h3{font-size:1.333333em;}  /*16px*/
    h4{font-size:1.166667em;}  /*14px*/
    h5,
    h6{font-size:1.083333em;}  /*13px*/

    .clearfix{zoom:1;}
    .clearfix::before, .clearfix::after{content:"";display:table;}
    .clearfix::after{clear:both;}
    .f-left{float:left;}
    .f-right{float:right;}

    a{text-decoration:none;color:#1a35ff;}
    a:hover, a:active{text-decoration:underline;}

    .relative{position:relative;}
    .absolute{position:absolute;}
    .fixed{position:fixed;}

    .indent{text-indent:2em;}
    .t-center{text-align:center;}
    .t-right{text-align:right;}
    .t-left{text-align:left;}
    .t-justify{text-align:justify;}
    .t-ellipsis{white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;}

    .none{display:none;}
    .hidden{visibility:hidden;}

    .m-auto{margin-left:auto;margin-right:auto;}
    .v-middle{vertical-align:middle;}
    .box-b{
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    .us-none{
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
    }
    .pe-none{pointer-events:none;}
}