@media screen {
    h1{font-size:1.666667em;}  /*20px*/
    h2{font-size:1.5em;}       /*18px*/
    h3{font-size:1.333333em;}  /*16px*/
    h4{font-size:1.166667em;}  /*14px*/
    h5,
    h6{font-size:1.083333em;}  /*13px*/

    .clearfix{zoom:1;}
    .clearfix:before, .clearfix:after{content:"";display:table;}
    .clearfix:after{clear:both;}
    .flo-l{float:left;}
    .flo-r{float:right;}

    a{text-decoration:none;color:#1a35ff;
        -webkit-transition:color .3s;
        -moz-transition:color .3s;
        -ms-transition:color .3s;
        -o-transition:color .3s;
        transition:color .3s;
    }
    a:hover, a:active{text-decoration:underline;}

    .pos-r{position:relative;}
    .pos-a{position:absolute;}
    .pos-f{position:fixed;}

    .indent{text-indent:2em;}
    .ta-c{text-align:center;}
    .ta-r{text-align:right;}
    .ta-l{text-align:left;}
    .ta-j{text-align:justify;}
    .to-e{white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;}

    .dis-n{display:none;}
    .vis-h{visibility:hidden;}

    .mlr-a{margin-left:auto;margin-right:auto;}
    .bs-b{
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    .us-n{
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
    }
    .pe-n{pointer-events:none;}
}