/*渐变滤镜*/
div {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",gradientType=1);
}

/*png图片滤镜*/
div {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true",sizingMethod="crop",src="image/box_close.png");
}

/*旋转*/
div {
    filter:progid:DXImageTransform.Microsoft.Matrix(SizingMethod="auto expand",M11=cos(roation),M12=-sin(roation),M21=sin(roation),M22=cos(roation));
}


/******ie6 样式修复******/

/*取消固定定位震动*/
body {
    _background:url(about:blank) fixed;
}

/*遮罩层*/
div {
    _position:absolute;
    left:0;
    top:0;
    _width:expression(documentElement.clientWidth + documentElement.scrollLeft);
    _height:expression(documentElement.clientHeight + documentElement.scrollTop);
}

/*最小高度 ie6高度默认以最小高度解析*/
div {
    _height:200px;
}

/*最大高度*/
div {
    _height:expression(this.scrollHeight > 200 ? "200px" : "auto");
    _overflow:hidden;
}

/*最小宽度*/
div {
    _width:expression(documentElement.clientWidth < 200 ? "200px" : "");
}

/*最大宽度*/
div{
    _width:expression(documentElement.clientWidth > 200 ? "200px" : "");
}

/*图片最大宽度*/
img {
    _width:expression(this.width > 200 ? "200px" : " ");
    
}

/*图片最大高度*/
img {
    _height:expression(this.height > 200 ? "200px" : " ");
}

/*图片同时设置最大宽度和高度*/
img {
    _width:expression(this.width > 200 && this.width / this.height > 1 ? "200px" : " ");
    _height:expression(this.height > 200 ? "200px" : " ");
}


/******ie7 图片缩放平滑修复*******/
img {
    -ms-interpolation-mode: bicubic;
}