@media screen {
    [class*="font-icon"] {
        font:normal normal 3em/1 "fonticon";
        speak:none;
        display:inline-block;
        color:#333;
        text-shadow:3px 3px 3px hsla(0, 0%, 0%, .3);
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
    }

    .font-icon-error:before{content:"\e609";}
    .font-icon-right:before{content:"\e60a";}

    body{word-break:break-all;margin:8px;}
    #form p{margin-bottom:8px;}
    #form p > :first-child{display:inline-block;width:80px;text-align:right;}
}

@media only screen and (max-width: 480px) {
    #form p > :first-child{display:block;width:auto;text-align:left;}
}

@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 1.3),
only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 13/10),
only screen and (max-width: 767px) and (min-resolution: 124.8dpi),
only screen and (max-width: 767px) and (min-resolution: 1.3dppx) {
    body{font-size:1.6em;}
}

.button {
  position: relative;
  display: block;
  width: 75%;
  margin: 30px auto;
  padding: 20px 20px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  box-shadow: 0 5px 0 0 #e9edee, 0 5px 0 2px #ccd2d2, 0 12px 20px 6px #d5dbdb;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  -webkit-tap-highlight-color: transparent;
}

.button:active {
  top: 5px;
  box-shadow: 0 1px 0 2px #ccd2d2, 0 7px 20px 6px #d5dbdb;
  outline: none;
}