<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <title>AngularJS</title>
</head>
<body>
    <h1>AngularJS DOM</h1>

    <article>
        <section ng-app="app1" ng-controller="ctrl">
            <h2>ng-disabled</h2>
            <p><button ng-disabled="switch">按钮</button></p>

            <p><label><input type="checkbox" ng-model="switch">点击切换</label></p>

            <p ng-bind="switch"></p>
        </section>

        <section id="section2" ng-app="app2">
            <h2>ng-show ng-hide</h2>

            <p><label><input type="checkbox" ng-model="switch">点击切换</label></p>

            <p ng-show="switch">change</p>

            <p><input type="number" ng-model="number"></p>

            <p ng-hide="number != 1">change</p>
        </section>

        <section id="section3" ng-app="app3" ng-init="count=0">
            <h2>ng-click</h2>

            <button ng-click="count=count + 1">click me</button>
            <p ng-bind="count"></p>
        </section>
    </article>

    <script src="../src/angular.min.js"></script>
    <script>
        (function() {
            function getEle(id) {
                return document.getElementById(id);
            }

            var app1 = angular.module("app1", []);

            app1.controller("ctrl", function($scope, $http) {
                $scope.switch = true;
            });


            var app2 = angular.module("app2", []),
                section2 = getEle("section2");

            angular.bootstrap(section2, ["app2"]);

            var app3 = angular.module("app3", []),
                section3 = getEle("section3");

            angular.bootstrap(section3, ["app3"]);
        }());
    </script>
</body>
</html>