<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <title>AngularJS</title>
    <style>
        .warning{color:#f00;}
    </style>
</head>
<body>
    <h1>AngularJS Form</h1>

    <article>
        <section>
            <h2>form 1</h2>

            <form novalidate ng-app="app1" ng-controller="ctrl" name="myForm">
                <fieldset>
                    <legend>user info</legend>
                    <p>
                        <label for="name">name:</label>
                        <input type="text" id="name" placeholder="please enter your name" ng-model="name" name="name" required>
                        <span style="color:#f00;" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                            <span ng-show="myForm.name.$error.required">please enter your name</span>
                        </span>
                    </p>
                    <p>
                        <label for="email">email:</label>
                        <input type="email" id="email" placeholder="please enter your email" ng-model="email" name="email" required>
                        <span style="color:#f00"; ng-show="myForm.email.$dirty && myForm.email.$invalid">
                            <span ng-show="myForm.email.$error.required">please enter your email</span>
                            <span ng-show="myForm.email.$error.email">illegal email address</span>
                        </span>
                    </p>
                    <button type="submit">submit</button>
                    <button ng-click="reset()">reset</button>
                </fieldset>
            </form>

            <div id="app2" ng-app="app2" ng-controller="ctrl">
                <p>remaining <span ng-bind="remaining()" ng-class="{'warning': shouldWarn()}"></span></p>
                <div class="row">
                    <textarea cols="30" rows="10" ng-model="message"></textarea>
                </div>
                <div class="row">
                    <button ng-click="send()" ng-disabled="!hasValidLength()">Send</button>
                    <button ng-click="clear()">Clear</button>
                </div>
            </div>
        </section>
    </article>

    <script src="../src/angular.min.js"></script>
    <script>
        (function() {
            function getEle(id) {
                return document.getElementById(id);
            }

            var app1 = angular.module("app1", []);

            app1.controller("ctrl", function($scope, $http) {
                $scope.reset = function() {
                    $scope.name = "";
                    $scope.email = "";
                }
            });

            var app2 = angular.module("app2", []),
                app2Dom = getEle("app2");

            app2.constant("MAX_LENGTH", 70);

            app2.controller("ctrl", function($scope, MAX_LENGTH) {
                console.log(app2);
                $scope.message = "";
                $scope.remaining = function() {
                    return MAX_LENGTH - $scope.message.length;
                };
                $scope.hasValidLength = function() {
                    return $scope.message.length > 0 && $scope.message.length <= 70;
                };
                $scope.shouldWarn = function() {
                    return $scope.message.length > MAX_LENGTH - 20;
                };

                $scope.send = function() {
                    alert("send");
                };

                $scope.clear = function() {
                    $scope.message = "";
                }
            });

            angular.bootstrap(app2Dom, ["app2"]);
        }());
    </script>
</body>
</html>