<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <title>AngularJS</title>
    <script src="../src/angular.min.js"></script>
</head>
<body>
    <h1>AngularJS XMLHttpRequest</h1>

    <div ng-app="app" ng-controller="ctrl">
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            <tr ng-repeat="x in users | orderBy: 'Name'">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="x.Name"></td>
                <td ng-bind="x.City"></td>
                <td ng-bind="x.Country"></td>
            </tr>
        </table>
        <ul>
            <li ng-repeat="x in users" ng-bind="x.Name + ', ' + x.Country"></li>
        </ul>
    </div>

    <script>
        (function() {
            var app = angular.module("app", []);
            app.controller("ctrl", function($scope, $http) {
                $http({
                    url: "../data/users.json",
                    method: "get",
                    params: {
                        _: Date.now()
                    },
                    headers: {
                        token: "wangcy"
                    }
                }).then(function(response) {
                    var data = response.data;
                    if(data && data.code == "00000") {
                        console.log(1);
                        $scope.users = data.users;
                    }
                });
            });
        }());
    </script>
</body>
</html>