@import url(../../../src/reset.css);

[class|="demo"]{
    width:300px;
    height:300px;
    border:1px solid blue;
    position:relative;
    margin:1em;
    display:inline-block;
    vertical-align:text-top;
}
[class|="demo"]:before{
    content:"";
    width:100%;
    height:0;
    position:absolute;
    left:0;
    top:50%;
    border-top:1px solid blue;
}
[class|="demo"]:after{
    content:"";
    width:0;
    height:100%;
    position:absolute;
    left:50%;
    top:0;
    border-left:1px solid blue;
}
[class|="demo"] img{
    position:relative;
    left:0;
    top:0;
    z-index:1;
    opacity:.8;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
.demo-01 img:hover{
    -webkit-transform: translate(100px, 20px);
    -moz-transform: translate(100px, 20px);
    -ms-transform: translate(100px, 20px);
    -o-transform: translate(100px, 20px);
    transform: translate(100px, 20px);
}
.demo-02 img:hover{
    left:100px;
    top:20px;
}
.demo-03 img:hover{
    -webkit-transform: translate(-100px, 100px);
    -moz-transform: translate(-100px, 100px);
    -ms-transform: translate(-100px, 100px);
    -o-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px);
}
.demo-04 img:hover{
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
}
.demo-05 img:hover{
    -webkit-transform: translateX(50px) translateX(100px);
    -moz-transform: translateX(50px) translateX(100px);
    -ms-transform: translateX(50px) translateX(100px);
    -o-transform: translateX(50px) translateX(100px);
    transform: translateX(50px) translateX(100px);
}
.demo-06 img:hover{
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
}