@media screen {
    .test-01{
        width:100px;
        height:100px;
        border:1px solid #333;
        background-color:#ccc;
        -wbkit-transition-property:width, height;
        transition-property:width, height;
        -webkit-transition-duration:3s, 2s;
        transition-duration:3s, 2s;
        -webkit-transition-timing-function:ease-in-out;
        transition-timing-function:ease-in-out;
        -webkit-transition-delay:0s, 1s;
        transition-delay:0s, 1s;
    }
    
    .linear{
        -webkit-transition-timing-function:linear;
        transition-timing-function:linear;
    }
    .ease-in{
        -webkit-transition-timing-function:ease-in;
        transition-timing-function:ease-in;
    }
    .ease-out{
        -webkit-transition-timing-function:ease-out;
        transition-timing-function:ease-out;
    }
    .ease-in-out{
        -webkit-transition-timing-function:ease-in-out;
        transition-timing-function:ease-in-out;
    }
    code{color:#690;}
}