@media screen {
    body, h1, h2, h3, h4, h5, h6, dl, dd, ul, ol, p, blockquote, form, fieldset, figure, button{margin:0;}
    ul, ol, menu, th, td, legend, fieldset{padding:0;}
    html{font-size:100%;-webkit-tap-highlight-color:transparent;}
    body{font:1em/1.5 tahoma, arial, "\5b8b\4f53", sans-serif;word-wrap:break-word;}
    ul, ol, menu{list-style-type:none;}
    table{border-spacing:0;border-collapse:collapse;}

    .clearfix{zoom:1;}
    .clearfix::before, .clearfix::after{content:"";display:table;}
    .clearfix::after{clear:both;}
    .ftl{float:left;}
    .ftr{float:right;}

    a, a:link{text-decoration:none;color:#1a35ff;}
    a:hover, a:active{text-decoration:underline;}

    .relative{position:relative;}
    .absolute{position:absolute;}
    .fixed{position:fixed;}

    .indent{text-indent:2em;}
    .tac{text-align:center;}
    .tar{text-align:right;}
    .tal{text-align:left;}
    .taj{text-align:justify;}
    .toe{white-space:nowrap;word-wrap:normal;overflow:hidden;text-overflow:ellipsis;}

    .none{display:none;}
    .hidden{visibility:hidden;}

    .mauto{margin-left:auto;margin-right:auto;}
    .vam{vertical-align:middle;}
    .boxb{
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    .us-none{
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
    }
    .pe-none{pointer-events:none;}
}