@media screen {

    /*emoji*/
    span.emoji{display:inline-block;vertical-align:baseline;width:1em;height:1em;text-indent:-9999px;
        background:50% 50% no-repeat;background-size:contain;
    }
    span.emoji-sizer{line-height:0.81em;font-size:1em;}
    span.emoji-outer{display:inline-block;height:1em;width:1em;}
    span.emoji-inner{display:inline-block;text-indent:-9999px;width:100%;height:100%;vertical-align:baseline;}
    img.emoji{width:1em;height:1em;}

    /*提示信息弹窗*/
    .overlay{position:fixed;left:0;top:0;z-index:100;width:100%;height:100%;background-color:hsla(0, 0%, 0%, .8);display:none;}
    .msg-box{display:none;position:fixed;left:0;top:50%;z-index:998;width:100%;}
    .msg-box .main{margin:0 20px;padding:1em 1em .5em 1em;background-color:#fff;border-radius:6px;}
    .msg-box .prompt{font-size:.875em;color:#333;text-align:center;}
    .msg-box .close{margin:1em auto 0 auto;display:block;width:100%;padding:.5em 0;font-size:.875em;color:#007AEC;
        background-color:#fff;border:none;border-top:1px solid #ccc;outline:none;
    }
    .msg-box .close:hover,
    .msg-box .close:active{border-color:#333;color:#333;}

    .info{}
    .info li{margin-bottom:.5em;}
    .info label{display:inline-block;width:4em;padding-right:.2em;text-align:right;text-transform:capitalize;}
    .handle{padding-left:4.2em;}

    .file-control{position:relative;display:inline-block;}
    .file-control input{position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;opacity:0;outline:none;}
    .preview:not(:empty){padding:1em;}
    .preview img{display:block;}
}

@media screen and (min-width: 640px) {
    .msg-box .main{margin:0 auto;width:600px;}
}